body {
    background: #f7f7f7;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    padding: 5px;
}

#topbar {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
    /*overflow: hidden;*/
}
#topbar .topmenu {
    float: right;
}
#topbar .topmenu button {
    padding: 4px 8px;
    font-size: 12px;
}

#inputquestion {
    width: 80%;
    height: 37px;
    padding: 5px;
    resize: none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 12px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #727272;
    margin-bottom: 0;
}

#submitquestion {
    width: 15%;
    height: 49px;
    margin-left: -1px;
    padding: 5px;
    font-size: 15px;
    background: #2794bb;
    color: #fff;
    border-radius: 0 5px 5px 0;
    border: 0px;
}
#submitbox {
    position: fixed;
    width: 99%;
    bottom: 3px;
    margin: 0;
    padding: 0;
}

.sort {
    padding: 5px;
    /*font-size: 12px;*/
    border-radius: 5px;
    cursor: pointer;
}

#tagmenu {
    padding: 5px 0;
    margin: 0;
}
#tagmenu button {
    padding: 5px 10px;
    margin-bottom: 3px;
}

.toggle_selected {
    background: lightgrey;
}

.input-append {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
    padding: 10px;
}

.btns {
    /*background: #eff7ff;*/
    float: left;
    margin-right: 10px;
}

.btns img {
    width: 15px;
}

.checked {
    opacity: 0.5;
}

.count {
    font-weight: bold;
    color: gray;
}

#mainlist {
    list-style: none;
    margin: 0px;
    /*margin: 0 0 55px 0;*/
    padding: 0;
}

#mainlist li {
    background: #f7f7f7;
    margin: 5px 0;
    padding: 10px 5px;
    border-bottom: 1px dashed gray;
    overflow: hidden;
    /*border-radius: 5px;*/
}

#login-sign-in-link {
    font-size: 10px;
    height: 32px;
    width: 32px;
}

.muted {
    text-decoration: line-through;
}

.totalvotes {
    width: 30px;
    padding: 0px !important;
}
.upvote {
    border: none;
    background: transparent;
    line-height: 13px;
    padding: 8px;
}
.arrow {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 15px 20px 15px;
    border-color: transparent transparent #c7d7db transparent;
    margin-bottom: 5px;
}
.checked {
    opacity: 1;
    border-color: transparent transparent #ce1a21 transparent;
}
.more-info {
    width: 10px;
    padding: 0px !important;
}
.comments {
    background: transparent;
    border: none;
    padding: 8px;
    color: #929aa6;
}
.modal {
    top: 30px;
    height: 80%;
    max-height: 480px;
    border-radius: 0px;
    background: #f9f9f9;
}
.modal-header {
    background: #fff;
    border: none;
}
.modal-body {
    height: 78%;
    padding: 0;
    -webkit-overflow-scrolling: touch;
}
.comment-list {
    padding: 10px 10px 10px 20px;
    border-bottom: 1px solid #eee
}
